#cabinets{
    display: inline-block;
}

.cabinet{
    float: left;
    display: block;
    border: 1px solid;
    padding: 5px 10px 5px 10px;
    margin: 5px;
    height: 270px;
    /*overflow-y: auto;*/
}

#ship{
    width: 100%;
    float: left;
}

#users{
    display: inline-block;
}

.user-table{
    height: 200px;
    overflow-y: scroll;
}

.user-list{
    float: left;
    display: block;
    border: 1px solid;
    padding: 5px 10px 5px 10px;
    margin: 5px;    
}

.user{
    cursor: pointer;
    padding: 0px 10px 0px 10px;
}
.user:hover{
    background-color: lightsalmon;
}

.day-in-cabinet{
    cursor: pointer;
    padding: 0px 10px 0px 10px;
}
.day-in-cabinet:hover{
    background-color: lightsalmon;
}